.feynman__link {
    display: block;
    line-height: 51px;
    font-size: 36px;
    position: absolute;
    top: 50%;
    right: 48px;
    color: #2f80ed;
    text-decoration: none;
    font-weight: 400;
}

.feynman__link:hover {
    opacity: 0.5;
    transition: ease-out 0.3s;
}